/* Ensure the body and html elements take up the full height */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    /* Adds a vertical scrollbar */
    overflow-x: hidden;
    /* Prevents horizontal scrolling */
    font-family: 'Poppins', sans-serif;
    /* Optional: Set a global font */
}